<p style="display: none" id="timestamp_load">Time: <%= Time.now %></p>

<h1 class="mb-3 mt-3">New game</h1>

<ul class="list-inline">
  <% @letters.each do |letter| %>
    <li class="list-inline-item letter m-3 p-2 pl-4 pr-4 bg-light border shadow-sm rounded"><%= letter %></li>
  <% end %>
</ul>

<!-- <p>What is the longest word you can find?</p> -->

<div class="form-container">
  <form action="/score" method="post" class="" id="my-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters.join %>
    <%= hidden_field_tag :timestamp_load, Time.now %>
    <div class="form-row">
      <div class="col-9">
        <input type="text" name="attempt" class="form-control" placeholder="What's the longest word?" id="search-field">
      </div>
      <div class="col-3">
        <input type="submit" value="GO" class="btn btn-primary w-100">
      </div>
    </div>
  </form>
</div>

